/*==========  Desktop First Method  ==========*/
/*new*/
@media only screen and (max-width : 1280px) {
	.sly-slider > li {
		width: 381px;
	}
	.item-review__content {
		padding: 75px 125px;
		padding-left: 215px;
	}
}
/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	.logo-descr {
		max-width: 220px;
		font-size: 13px;
		line-height: 20px;
	}
	.logo img {
		max-width: 233px;
	}
	.title-big {
		font-size: 39px;
		line-height: 53px; 
	}
	.billbord .title-big {
		margin-bottom: 30px;
	}
	.billbord {
		padding-top: 43px;
		padding-bottom: 40px;
		min-height: 470px;
	}
	.billbord .line-form {
		margin-top: 30px;
	}
	.row_services > div {
		padding: 0 20px;
	}
	.row_services {
		margin: 0 -20px;
	}
	.consultation .block-form {
		padding-left: 30px;
		padding-right: 30px;
	}
	.item-gain {
		padding: 20px;
		padding-left: 110px;
		min-height: 225px;
	}
	.row_gains > div:nth-child(4) .item-gain, .row_gains > div:nth-child(3) .item-gain {
		padding-left: 20px;
		padding-right: 110px;
	}
	.item-gain .title-middle {
		margin-bottom: 15px;
	}
	.title-section {
		font-size: 33px;
		line-height: 44px;
	}
	.footer .logo img {
		max-width: 209px;
	}
	/*new*/
	.item-review__content {
		padding: 60px 50px;
		padding-left: 135px;
		margin-left: -100px;
	}
	.item-review__image {
		width: 500px;
		height: 385px;
	}
	.item-review {
		font-size: 16px;
		line-height: 21px;
	}
	.item-review .title-middle {
		padding-top: 20px;
	}
	.descr-review {
		font-size: 14px;
		line-height: 21px;
		padding-bottom: 22px;
	}
	.item-review__content::before {
		width: 81px;
		height: 71px;
	}
	.item-get {
		font-size: 16px;
		line-height: 22px;
	}
	.sly-slider > li {
		width: 412px;
	}
	.section-main_projects {
		padding-bottom: 100px;
	}
	.block-portfolio_service {
		padding: 30px 60px;
	}
	.block-portfolio_service .slider-portfolio .slick-prev {
		left: -45px;
	}
	.block-portfolio_service .slider-portfolio .slick-next {
		right: -45px;
	}
	.block-portfolio_service .image-portfolio {
		height: 435px;
	}
	.block-portfolio_service .text-portfolio {
		max-height: 352px;
	}
	.row_units {
		margin: 0 -10px;
	}
	.row_units > div {
		padding: 0 10px;
		margin-bottom: 20px;
	}
	.unit-service__content {
		padding: 15px;
		padding-bottom: 30px;
	}
	.title-middle {
		font-size: 20px;
		line-height: 27px;
	}
	.section-main {
		padding-top: 75px;
	}
	.billbord-page .title-middle {
		max-width: 510px;
		padding-bottom: 35px;
	}
	.billbord-page .title-big {
		padding-bottom: 25px;
	}
	.billbord-page {
		min-height: 535px;
	}
}


/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.menu,
	.header__wrap .header-item,
	.header__wrap .header-contact,
	.header__wrap .logo-descr {
		display: none;
	}
	.wrapper {
		padding-top: 60px;
	}
	.title-big {
		font-size: 34px;
		line-height: 48px;
	}
	.consultation .title-section {
		max-width: 100%;
	}
	.consultation .title-section {
		padding-bottom: 25px;
	}
	.consultation .block-form {
		float: none;
		max-width: 100%;
	}
	.item-gain {
		padding-left: 250px;
	}
	.row_gains > div:nth-child(4) .item-gain, 
	.row_gains > div:nth-child(3) .item-gain {
		padding-right: 250px;
	}
	.title-section {
		font-size: 28px;
		line-height: 39px;
	}
	.slider-portfolio .slick-prev {
		left: -50px;
	}
	.slider-portfolio .slick-next {
		right: -50px;
	}
	.text-portfolio {
		max-height: 275px;
	}
	.contacts-block p {
		margin-bottom: 20px;
	}
	#map {
		height: 390px;
	}
	.footer__content {
		padding-top: 15px;
		display: none;
	}
	.footer__contacts,
	.footer__center {
		padding-left: 15px;
	}
	.footer__nav_big a, .footer__title {
		padding: 13px 0;
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin: 0;
		border-bottom: 1px solid #333;
	}
	.footer__nav_big li {
		margin: 0;
	}
	.footer__bottom {
		border: none;
	}
	.footer .logo-descr {
		margin-bottom: 10px;
	}
	.footer__title i {
		display: inline-block;
		transition: all 0.3s;
	}
	.footer__title.active i {
		transform: rotate(45deg);
	}
	.btn_nav {
		display: inline-block;
	}
	.menu-mobile {
		position: absolute;
		top: 100%;
		left: 0;
		width: 100%;
		height: 100vh;
		padding: 0 15px;
		padding-bottom: 130px;
		overflow: auto;
		background-color: #fff;
		text-align: left;
		display: none;
	}
	.menu-mobile .menu {
		margin-bottom: 15px;
		display: block;
	}
	.menu a {
		padding: 12px 0;
		border-bottom: 1px solid #333;
		height: initial;
		display: block;
		text-align: left;
	}
	.header-item {
		margin-bottom: 15px;
		align-items: flex-start;
	}
	.header-contact {
		margin-bottom: 15px;
	}

	/*new*/
	.menu li {
		margin-right: 0;
	}
	.item-service .btn-simple {
		opacity: 1;
	}
	.text-service {
		margin-bottom: 25px;
	}
	.info-service,
	.services_page {
		padding-bottom: 55px;
	}
	.wrapper {
		padding-top: 87px;
	}
	.breadcrumbs {
		padding-bottom: 20px;
	}
	.billbord-page .title-big {
		max-width: 600px;
	}
	.billbord-page {
		min-height: 470px;
	}
	.block-portfolio_service .title-middle {
		font-size: 26px;
		line-height: 39px;
		padding: 15px 0;
	}
	.block-portfolio_service {
		margin-bottom: 0;
	}
	.get-price {
		padding-top: 55px;
		padding-bottom: 65px;
		background-position: 20% 50%;
	}
	.item-review {
		display: block;
	}
	.item-review__image {
		width: 100%;
	}
	.item-review__content {
		padding: 30px;
		margin: 0;
		z-index: 2;
	}
	.item-review {
		background: #F7F8F9;
		border-radius: 10px;
	}
	.item-review__content::before {
		top: -44px;
		right: 24px;
	}
	.slider-reviews {
		padding-bottom: 40px;
	}
	.section-main_reviews {
		padding-bottom: 60px;
	}
	.section-main .descr-section {
		padding-bottom: 25px;
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	.billbord .title-big {
		margin-right: 0;
		margin-bottom: 20px;
	}
	.title-big {
		font-size: 28px;
		line-height: 41px;
	}
	body {
		font-size: 14px;
		line-height: 24px;
	}
	.btn-main {
		height: 60px;
	}
	.line-form .item-form input {
		height: 60px;
	}
	.btn-main {
		min-width: 195px;
	}
	.line-form .item-form {
		width: 220px;
	}
	.billbord p {
		max-width: 266px;
	}
	.billbord {
		padding-top: 22px;
		background-position: 58% 50%;
	}
	.title-section {
		font-size: 24px;
		line-height: 33px;
	}
	.descr-section {
		font-size: 16px;
		line-height: 24px;
	}
	.head-section {
		padding-top: 35px;
		padding-bottom: 25px;
	}
	.consultation-block {
		padding: 20px;
	}
	.text-big {
		font-size: 16px;
		line-height: 24px;
	}
	.block-form {
		padding-top: 35px;
	}
	.block-form .btn-main {
		margin-top: 0;
	}
	.item-gain {
		padding-left: 170px;
	}
	.row_gains > div:nth-child(4) .item-gain, .row_gains > div:nth-child(3) .item-gain {
		padding-right: 170px;
	}
	.title-middle {
		font-size: 21px;
		line-height: 27px;
	}
	.image-portfolio {
		height: 310px;
	}
	.descr-small {
		font-size: 16px;
	}
	.block-portfolio p {
		margin-bottom: 15px;
	}
	.footer__bottom {
		text-align: center;
	}
	.btn_top {
		float: none;
	}
	.footer__bottom .row > div {
		padding-top: 10px;
		padding-bottom: 10px;
	}
	.item-service .title-block {
		min-height: initial;
	}
	.billbord .title-big {
		max-width: 490px;
	}
	.contacts {
		padding-bottom: 45px;
	}
	/*new*/
	.services_page .head-section {
		padding-bottom: 10px;
	}
	.slider-services .slick-slide {
		padding-bottom: 30px;
	}
	.services_page {
		padding-bottom: 25px;
	}
	.info-service .title-section {
		padding-bottom: 25px;
	}
	.text-service {
		font-size: 16px;
		line-height: 24px;
		padding-right: 30px;
	}
	.image-service {
		height: 350px;
	}
	.image-service {
		height: 300px;
	}
	.billbord-page {
		min-height: 430px;
		background-position: 55% 50%;
	}
	.section-main {
		padding-top: 50px;
	}
	.block-portfolio_service {
		padding: 30px 15px;
		padding-bottom: 15px;
	}
	.slider-portfolio .slick-dots {
		bottom: -40px;
	}
	.sly-wrap {
		margin-right: -15px;
	}
	.scrollbar {
		margin-top: 35px;
	}
	.section-main_projects {
		padding-bottom: 70px;
	}
	.consultation-block {
		padding-left: 0;
		padding-right: 0;
	}
	.item-get {
		margin-bottom: 20px;
		max-width: 100%;
	}
	.get-price .title-section {
		padding-bottom: 25px;
	}
	.get-price .btn-main {
		margin-top: 15px;
		padding: 0 40px;
		width: initial;
	}
	.item-review__image {
		height: 330px;
	}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	.title-big {
		font-size: 25px;
		line-height: 35px;
	}
	.btn-main {
		min-width: 160px;
	}
	.row_services > div {
		margin-bottom: 25px;
	}
	.title-section {
		font-size: 22px;
		line-height: 30px;
	}
	.text-big {
		font-size: 15px;
		line-height: 23px;
	}
	.consultation-block {
		margin: 0 -15px;
	}
	.consultation .block-form {
		padding-left: 15px;
		padding-right: 15px;
	}
	.block-form {
		padding: 25px 15px;
	}
	.block-form .title-middle {
		margin-bottom: 10px;
	}
	.block-form .descr-small {
		margin-bottom: 20px;
	}
	.item-gain {
		padding: 20px;
		min-height: 177px;
		color: #fff;
		z-index: 1;
	}
	.row_gains > div:nth-child(4) .item-gain, .row_gains > div:nth-child(3) .item-gain {
		padding-right: 20px;
	}
	.item-gain::before {
		position: absolute;
		display: block;
		content: " ";
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		opacity: 0.6;
		background-image: linear-gradient(141.0deg, #6b778c 21%, #4f5a6c 78%);
	}
	.row_gains > div {
		margin-bottom: 20px;
	}
	.item-gain__image {
		z-index: -2;
	}
	.block-portfolio {
		margin: 0 -15px;
		margin-bottom: 55px;
	}
	.slider-portfolio .slick-dots {
		bottom: -40px;
	}
	.title-middle {
		font-size: 20px;
		line-height: 25px;
	}
	.block-portfolio .title-middle {
		padding-bottom: 15px;
	}
	.contacts-block__left {
		padding: 25px;
	}
	.contacts-block {
		margin: 0 -15px;
	}
	.header .logo img {
		max-width: 205px;
	}
	.billbord {
		color: #fff;
		background-position: 67% 50%;
		position: relative;
		z-index: 1;
	}
	.billbord::after {
		position: absolute;
		display: block;
		content: " ";
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		opacity: 0.6;
		background-image: linear-gradient(141.0deg, #6b778c 21%, #4f5a6c 78%);
		z-index: -1;
	}
	.billbord .title-big {
		max-width: 300px;
	}
	.billbord .checkbox {
		color: #fff;
	}
	.wrapper {
		padding-top: 56px;
	}
	/*new*/
	.text-service {
		max-height: 242px;
	}
	.wrapper {
		padding-top: 84px;
	}
	.billbord-page .title-middle {
		padding-bottom: 30px;
	}
	.billbord-page {
		padding-bottom: 65px;
		min-height: 410px;
		padding-top: 0;
		background-position: 64% 50%;
	}
	.unit-service__image {
		height: 190px;
	}
	.block-portfolio_service .title-middle {
		font-size: 22px;
		line-height: 33px;
	}
	.block-portfolio_service .image-portfolio {
		height: 310px;
	}
	.block-portfolio_service .text-portfolio {
		max-height: 342px;
	}
	.section-main_projects {
		padding-top: 20px;
	}
	.sly-slider > li {
		width: calc(100vw - 30px);
		margin-right: 25px;
	}
	.sly-slider {
		padding-right: 25px;
	}
	.unit-project__content {
		padding: 20px 15px;
	}
	.unit-project li {
		margin-bottom: 15px;
	}
	.handle {
		width: 160px;
	}
	.consultation-block {
		margin: 0;
	}
	.item-review__image {
		height: 280px;
	}
	.item-review__content {
		padding: 30px 15px;
	}
	.section-main_reviews {
		padding-bottom: 45px;
	}
	.billbord-page .title-middle,
	.billbord-page .title-big {
		max-width: 330px;
	}
}


/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
	.footer__content {
		display: block !important;
	}
	.menu-mobile {
		display: none !important;
	}
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
	/*new*/
	.container {
		max-width: 1280px;
	}
}
@media (min-width: 1600px) {
	.container {
		max-width: 1280px;
	}
}